version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weather
    environment:
      - WEATHER_API_KEY=${WEATHER_API_KEY}
    ports:
      - "8080:8080"
    restart: unless-stopped